@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

  --heading-font: Kanit, Verdana, "Courier New";
  --paragraph-font: Cabin, Garamond, "Time New Roman";
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
}
p {
  font-family: var(--paragraph-font);
}


body{
  margin: 0;
  background-color: #739983;
}
.main-title{
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  margin: 0;
  padding-bottom: 0px;
}
.main-img{
  width: 100%;
}
.main-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 5em;
  text-shadow: 1px 1px 10px #000 ;
}
#navbar{
  overflow: hidden;
  background-color: #2AEB7A;
  padding-top: 0px;
  margin-top: 0;
  z-index: 1;
}
#navbar ul li a{
  float: left;
  display: block;
  padding-top: 14px;
  
}
.link-a{
  color: #f2f2f2;
  font-size: 2.5em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 14px;
  text-decoration: none;
  font-family: var(--heading-font);
}
.link-a:hover{
  background-color: #9A2AEB;
}
.nav-logo{
  padding-right: 30px;
  width: 60px;
  padding-left: 20px;
}
.content{
  padding-top: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 95px;
}

#raids{
  display: grid;
  grid-template-columns: 5px 1fr 1fr 5px;
  grid-template-rows: 200px 400px 100px;
  column-gap: 200px;
}
.raid-text{
  text-align: center;
  grid-column: 1 / 5;
  grid-row: 1;
  font-size: 5em;
  text-shadow: 1px 1px 10px #ffffff;
}
.home-card-one{
  grid-column: 2 / 3;
}
.home-card-two{
  grid-column: 3 / 4;
}
.home-card img{
  width: 100%;
  border-style: solid;
  border-color: #9A2AEB;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #000;
  
}
.img-card{
  transition: transform .5s;
}
.img-card:hover{
  transform: scale(1.1);
}
.home-card{
  text-align: center;
}
.bottom-middle{
  top: 50%;
  left: 50%;
  transform: translate(0%, -200%);
  font-size: 2em;
  text-shadow: 1px 1px 5px #fff ;
}
.home-card p{
  font-size: 1.3em;
}
#about-us{
  display: grid;
  grid-template-columns: 5px 1fr 1fr 5px;
  grid-template-rows: 200px 400px 200px;
  column-gap: 50px;
  text-align: center;
}
#about-us h1{
  grid-column: 1/5;
  font-size: 5em;
  text-shadow: 1px 1px 5px #fff ;
}
#about-us img{
  width: 100%;
  grid-column: 2 / 3;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
#about-us p{
  text-align: left;
  font-size: 2em;
  background-color: #706551;
  padding: 30px;
  margin: 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
footer{
  overflow: hidden;
  background-color: #2AEB7A;
  padding-top: 0px;
  margin-top: 0;
  z-index: 1;
}
footer ul li{
  float: right;
  display: block;
  padding-top: 5px;
  padding: 5px 30px 0px 30px;
}
.copy-right{
  float: left;
  display: block;
  padding-left: 30px;
  font-size: 1.5em;
}
.foot-a{
  color: #f2f2f2;
  font-size: 2.3em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: var(--heading-font);
}
.foot-a:hover{
  background-color: #9A2AEB;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  